
<div class="row">
    <div class="col-md-4">
      <div class="option">
        <div class="imgBox">
          <img src="../../../assets/images/to-do.png" alt="">
        </div>
        <button mat-raised-button color="primary" (click)="navigate('todos')">TO-DOs</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="option">
        <div class="imgBox">
          <img src="../../../assets/images/post.png" alt="">
        </div>
        <button mat-raised-button color="primary" (click)="navigate('posts')">Posts and Commments</button>
      </div>
    </div>

    <div class="col-md-4">
      <div class="option">
        <div class="imgBox">
          <img src="../../../assets/images/album.png" alt="">
        </div>
        <button mat-raised-button color="primary" (click)="navigate('albums')">Albums</button>
      </div>
    </div>
</div>

